{% extends HelioNetworksHelioPanelBundle::base.html.twig %}

{% block content %}
	
	
<p align="center"><font face="Verdana" size="2"><b><br>
Welcome to 
your HelioPortal, $username<br>
&nbsp;</b></font><div align="center">
	<table border="0" width="300" cellspacing="0" cellpadding="0">
		<tr>
			<td align="center">&nbsp;</td>
			<td align="center">
			<img border="0" src="images/documents-icon.png" width="64" height="64"></td>
			<td align="center">&nbsp;</td>
		</tr>
		<tr>
			<td align="center">&nbsp;</td>
			<td align="center"><font face="Verdana" size="2">File Manager</font></td>
			<td align="center">&nbsp;</td>
		</tr>
	</table>
</div>
<p align="center">&nbsp;

{% endblock %}