{% extends '::heliopanel.html.twig' %}


{% block container %}
<div>
	<h1>That's not good!</h1>
	<strong>Something bad just happened, and we've been notified.</strong>
	Help us out
	<a href="https://github.com/HelioNetworks/HelioPanel/issues/new">
		by telling us
	</a>
	what you were doing when this happened.
</div>
{% endblock %}