{% extends '::heliopanel.html.twig' %}

{% block content %}
    <form action="{{ path('account_add') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
{% endblock %}
