    <form action="{{ path('account_create_user') }}" method="post" {{ form_enctype(form) }}>
        Username: {{ form_widget(form.username) }}
        Password: {{ form_widget(form.password) }}
        <input type="submit" />
    </form>
