{% extends 'HelioNetworksFileManagerBundle::base.html.twig' %}

{% block content %}
<ul>
	{% for object in files %}
	  <li>
	  	{{ object.name }} <a href="">Rename File</a>
	  </li>
	{% endfor %}
</ul>
{% endblock %}