{% extends 'HelioNetworksFileManagerBundle::base.html.twig' %}

{% block content %}
<ul>
	{% for value in keys %}
	  <li>
	  	{{ value }} <a href="{{ path('filemanager_file_rename') }}">Rename File</a>
	  </li>
	{% endfor %}
</ul>
{% endblock %}