{% extends '::base.html.twig' %}

{% block title %}
    HelioPanel Login
{% endblock %}

{% block stylesheets %}
    <link href="/login_style.css" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
    <table class=login align=center><tr><td valign=middle>
    <p><b><u><font size=3>Login to HelioPanel</font></u></b></p>

    {% if app.session.flash('success') %}
        <div class="flash-message success" style="font-size:small;">
            <p>{{ app.session.flash('success') }}</p>
        </div>
    {% endif %}
    {% if app.session.flash('error') %}
        <div class="flash-message error" style="font-size:small;">
            <p>{{ app.session.flash('error') }}</p>
        </div>
    {% endif %}
    {{ app.session.clearFlashes }}

    {% block content %}

    {% endblock %}

    </td></tr></table>

    <div class=logincopyrights><p>
    &copy; Copyright Helio Networks 2011.<br>
    All trademarks and copyrights are property of their respective owners
    </p></div>
{% endblock %}
