{% extends '::heliopanel.html.twig' %}

{% block content %}
	<h1>Please wait, we're configuring your installation</h1>
	<script type="text/javascript">
		function getParameterByName(name)
		{
		  name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
		  var regexS = "[\\?&]" + name + "=([^&#]*)";
		  var regex = new RegExp(regexS);
		  var results = regex.exec(window.location.href);
		  if(results == null)
		    return "";
		  else
		    return decodeURIComponent(results[1].replace(/\+/g, " "));
		}

		var username = getParameterByName('username');
		var password = getParameterByName('password');

		$('body').ajaxError(function () {
			window.location = '/login.php?error=1';
		});

		$.get('/configure', { 'username' : username, 'password': password }, function(data) {
			window.location = '/login.php?username='+username+'&password='+password;
		});
	</script>

{% endblock %}