{% extends '::heliopanel.html.twig' %}

{% block content %}
	<h1>Please wait, we're configuring your installation</h1>
	<script type="text/javascript">
		$.get('/configure', {
	</script>

{% endblock %}