{% extends '::heliopanel.html.twig' %}

{% block content %}
	<form action="{{ path('heliopanel_create_from_account') }}" method="post" {{ form_enctype(form) }}>
		{{ form_widget(form) }}

		<input type="submit" />
	</form>
{% endblock %}