; These parameters can be imported into other config files
; by enclosing the key with % (like %database_user%)
; Comments start with ';', as in php.ini
[parameters]

; Fill in the details to connect to the database below
    database_driver   = pdo_mysql
    database_host     = localhost
    database_port     = 3306
    database_name     = myapp_test
    database_user     = travis
    database_password =

; Fill in the mail server details
    mailer_transport  = smtp
    mailer_host       = localhost
    mailer_user       =
    mailer_password   =

    locale            = en

    secret            = ThisTokenIsNotSoSecretChangeIt
    
; Details to connect to the HelioHost API
    api_key = dummy
    api_url = dummy
