{% extends '::heliopanel.html.twig' %}

{% block content %}
	<form method="post" action="{{ url('file_delete') }}" {{ form_enctype(form) }}>
		{{ form_widget(form) }}
		<input type="submit" value="Submit" />
	</form>
{% endblock %}