{% extends '::heliopanel.html.twig' %}

{% block content %}
	<form method=post action="#" {{ form_enctype(form) }} id="file_edit">

		{{ form_widget(form) }}

		<div id="editor"></div>
		<div id="spacer"></div>

		<input type="submit" />

	</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% for script in editor.assets %}
		{{ asset(script) }}
	{% endfor %}
{% endblock %}