{% extends '::heliopanel.html.twig' %}

{% block content %}
    <form method=post action="{{ url('file_upload') }}" {{ form_enctype(form) }} name="file_upload">

        {{ form_widget(form) }}

        <input type="submit" />

    </form>
{% endblock %}
